* {
	font-family:Arial;
}
body {
	margin:0;
	padding:0;
}

.cima {
	height:50px;
	width:100%;
	background-color:#5D5C61;
}
.cimadentro{
	width:1000px;
	margin:auto;
	background-color:#5D5C61;
}
.logo {
	color:white;
	float:left;
	font-size:24px;
	line-height:50px;
}
.meni{
	font-size:18px;
	float:right;
	line-height:50px;
	color:white;
}
.meni ul,
.meni li {
	margin:0;
	padding:0;
	list-style:none;
}
.meni li {
	float:left;
	padding-right:15px;
	padding-left:15px;
	cursor:pointer;
}
.meni>ul>li:hover {
	background-color:#B1A296;
} 
.meio {
	background-color:#7395AE;
	height:300;
}
.meiomeio {
	background-color:#7395AE;
	width:1000px;
	margin:auto;
}
.homi {
	margin-top:20px;
	height:280px;
}
.partedireita {
	float:right;
}
.parteesquerda {
	float:left;
}
.frasedeefeito {
	margin-top:60px;
	font-size:48;
	color:#FFFFFF;
}
.txtcomplementar {
	font-size:20px;
	color:#FFFFFF;
}
.botao {
	margin-top:12px;
	background-color:#379683;
	width:282px;
	height:56px;
	border-radius:15px;
	text-align:center;
	line-height:56px;
	font-size:24px;
	cursor:pointer;
}
.Produtos {
	height:90px;
	line-height:90px;
	text-align:center;
	font-size:20px;
	line-height:;
	color:white;
	background-color:#557A95;
}
.fotos img {
	margin-right:10px;
	margin-left:10px;
	margin-top:20px;
	margin-bottom:20px;
}
.meiodasfotos {
	margin:auto;
	width:1000px;
}
.pezin {
	text-align:center;
	font-size:12px;
	background-color:#5D5C61;
	line-height:50px;
	height:50px;
}
.fundim {
	background-color:#7395AE;
	width:100%;
}